body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #000000;
  padding: 0;
  margin: 0;
  user-select: none;
}

#title {
  position: fixed;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: #001aff;
  background-color: #7eecb3;
  width: 100%;
  height: auto;
  margin-top: 0;
  padding: 20px;
  border-bottom: 2px solid rgb(0, 102, 255);
}

button {
  background: none;
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.container {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.heading {
  display: flex;
  color: black;
  margin-top: 130px;
  .playerName {
    font-size: 0.8rem;
    background: linear-gradient(to bottom right, #e600ff, #327ffa);
    height: 60px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 30px#c300ff;
    .message {
      margin: 15px;
    }
    #turn {
      color: #d4ff00;
      font-size: 2rem;
      padding: 13px;
    }
    #winnermsg {
      color: #ff0000;
      font-size: 2rem;
      padding: 5px;
    }
    .drawmsg {
      background: #c300ff;
      padding: 10px;
      border-radius: 20px;
      box-shadow: 0px 0px 30px#c300ff;
    }
  }
  .resetBtn {
    color: #000000;
    border: 2px solid black;
    font-size: 1rem;
    font-weight: bolder;
    margin-left: 70px;
    margin-right: 0px;
    border-radius: 30px;
    height: auto;
    width: auto;
    padding: 3px;
    transition: all 0.3s;
    &.active {
      color: #eeff00;
      background: linear-gradient(to bottom right, #61006c, #006365);
      border: none;
    }
  }
}
.mainGame {
  width: 50%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.colorX {
  color: #ff7f08;
}
.colorO {
  color: #dd00ff;
}

.board {
  margin-top: 20px;
  background: #00fbff;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0px 0px 20px black;
  .boardRow {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #000000;
    .square {
      width: 90px;
      height: 90px;
      border-right: 2px solid #000000;
      font-size: 2.5rem;
      padding: 0;
      overflow: hidden;
      transition: all 0.2s;
    }
  }
}
.won {
  animation: scaleText 1.4s infinite;
  @keyframes scaleText {
    0% {
      transform: 2.5rem;
    }
    50% {
      font-size: 3.5rem;
    }
    100% {
      font-size: 2.5rem;
    }
  }
}
.historydisplay {
  width: 300px;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 20px;
  border: 2px solid black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  box-shadow: 0px 0px 30px #ff0000;
  padding: 10px;
  height: auto;
  background: linear-gradient(to bottom right, #f493ff, #84fdff);
  .gameHistory {
    h2 {
      font-size: 1.3rem;
    }
  }
  .history {
    display: inline-block;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      text-align: left;
      padding: 2px;
      &:before {
        content: '';
        border-radius: 50%;
        display: inline-block;
        height: 5px;
        width: 5px;
        background-color: rgb(17, 0, 255);
        margin-right: 4px;
        margin-bottom: 1px;
      }

      .btn-move {
        color: #000000;
        font-size: 0.9em;
        margin: 2px;
        &.active {
          font-weight: bold;
          color: #ff0000;
        }
      }
    }
  }
}

@media (max-width: 370px) {
  body {
    font-size: 10px;
  }
  .container {
    font-size: 0.5rem;
  }
  .playerName {
    font-size: 0.6rem;
    margin-top: 22%;
  }
  .board {
    margin-top: 2%;
    .boardRow {
      .square {
        height: 50px;
        width: 50px;
      }
    }
  }
  .mainGame {
    flex-direction: column;
    font-size: 0.7rem;
  }
  .resetBtn {
    font-size: 0.4rem;
    padding: 0;
  }
}

/* Styles for screens between 600px and 900px wide */
@media (min-width: 370px) and (max-width: 720px) {
  .container {
    font-size: 0.9rem;
  }
  .playerName {
    font-size: 0.7rem;
    margin-top: 110px;
  }
  .board {
    margin-top: 2%;
    .boardRow {
      .square {
        height: 60px;
        width: 60px;
      }
    }
  }
  .mainGame {
    flex-direction: column;
    font-size: 0.9rem;
  }
}

@media (min-width: 720px) and (max-width: 900px) {
  .container {
    font-size: 1.1rem;
  }
  .playerName {
    font-size: 0.9rem;
    margin-top: 110px;
  }
  .board {
    margin-top: 2%;
    .boardRow {
      .square {
        height: 80px;
        width: 80px;
      }
    }
  }
  .mainGame {
    flex-direction: column;
    font-size: 1rem;
  }
}
